<html>
    <header>
        <link rel="stylesheet" type="text/css" href="css/home.css">
    </header>
    <body>
        <h1>Index</h1>
        <a href="/contato">Contato</a>
        <a href="/404">404</a>
    </body>
</html>